<%- include('./partials/head') %>



<div id="card">
  <h1><%= data.name + " " + data.surname %></h1>
  <p><%= data.bio %></p>
</div>

<!-- <section>
  
</section> -->

<%- include('./partials/foot') %>
